.slick-dots {
    bottom: 16px;
}
.slick-dots li button:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #faa500;
}

.slick-dots li.slick-active button:before {
    background-color: #faa500;
}

.slick-prev,
.slick-next {
}

.slick-next {
    right: 25px;
    z-index: 1;
}
.slick-prev {
    left: 25px;
    z-index: 1;
}

